<header class="header">
  <div class="header-wrapper">
       <a href="/" class="header-knowledgebase">
      Knowledge base
    </a>
    <a href="https://tentaclesync.com" class="header-logo">
      <svg width="168" height="17" viewBox="0 0 168 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_82_2824)">
          <path d="M4.49492 16.1648V3.39317H0.636719V0.48468H11.2913V3.39317H7.43309V16.1648H4.48503H4.49492Z"
            fill="#FFEBDC" />
          <path
            d="M13.5234 16.1648V0.48468H23.8515V3.34371H16.4814V5.65863H22.9117V8.58691H16.4814V13.2563H23.6537V16.1648H13.5234Z"
            fill="#FFEBDC" />
          <path
            d="M36.934 16.1648L29.9793 5.88617V16.1648H27.0312V0.48468H29.9002L36.835 10.7435V0.48468H39.7831V16.1648H36.9439H36.934Z"
            fill="#FFEBDC" />
          <path d="M46.202 16.1648V3.39317H42.3438V0.48468H52.9983V3.39317H49.1401V16.1648H46.1921H46.202Z"
            fill="#FFEBDC" />
          <path
            d="M63.5941 16.1648L61.9915 11.9406H56.7978L55.1655 16.1648H52.0195L58.0542 0.48468H60.7153L66.7697 16.1648H63.5941ZM60.8439 9.03208L59.3897 5.22335L57.9354 9.03208H60.8439Z"
            fill="#FFEBDC" />
          <path
            d="M72.2521 15.7692C71.2826 15.3537 70.4022 14.7601 69.6503 14.0082C68.8787 13.2564 68.2851 12.3759 67.8894 11.3866C67.4541 10.3776 67.2266 9.31904 67.2266 8.19126C67.2266 3.68013 70.9265 0 75.4376 0C76.7138 0 77.99 0.306677 79.1177 0.880461C80.2356 1.43446 81.2546 2.28524 82.0065 3.3042L82.3626 3.74938L80.0081 5.49052L79.6816 5.05524C78.6923 3.70981 77.1491 2.93817 75.4574 2.93817C72.5489 2.93817 70.1746 5.29266 70.1746 8.20116C70.1746 11.1096 72.5588 13.5037 75.4574 13.5037C77.1293 13.5037 78.6726 12.7321 79.6816 11.3866L80.0081 10.9711L82.3428 12.6925L81.9867 13.1377C81.215 14.1764 80.2455 14.9876 79.098 15.5614C77.9702 16.1352 76.7237 16.4221 75.4376 16.4221C74.3395 16.4221 73.2612 16.2045 72.2422 15.7791L72.2521 15.7692Z"
            fill="#FFEBDC" />
          <path d="M84.8242 16.1648V0.48468H87.7723V13.2761H95.7657V16.1648H84.8242Z" fill="#FFEBDC" />
          <path
            d="M98.3263 16.1648V0.48468H108.654V3.34371H101.274V5.65863H107.705V8.58691H101.274V13.2563H108.447V16.1648H98.3164H98.3263Z"
            fill="#FFEBDC" />
          <path
            d="M116.406 16.2736C114.913 15.9175 113.369 15.1261 111.984 13.9191L112.558 13.2563C115.486 15.7889 118.237 15.9472 119.869 15.2151C121.165 14.6215 121.897 13.4542 121.897 12.0197C121.897 10.9414 121.392 10.1302 120.334 9.52672C119.404 9.02219 118.326 8.80455 117.693 8.68583C117.514 8.64626 117.406 8.61658 117.297 8.5968C117.168 8.55722 117.01 8.52754 116.812 8.48797C116.04 8.32969 114.893 8.11205 113.953 7.56794C112.736 6.86555 112.143 5.80702 112.143 4.46159C112.143 3.70974 112.36 2.98756 112.805 2.34453C113.221 1.73117 113.824 1.24642 114.547 0.890282C115.585 0.405534 116.792 0.316498 118.029 0.53414C119.444 0.771568 120.779 1.39482 122.085 2.47314L121.531 3.15574C119.325 1.32557 116.862 0.751783 114.923 1.66192C113.735 2.23571 113.003 3.29424 113.023 4.46159C113.023 6.6677 115.071 7.26126 116.99 7.63719C117.188 7.67676 117.366 7.70644 117.495 7.74601C117.584 7.7658 117.712 7.78558 117.851 7.81526C118.514 7.94387 119.721 8.19119 120.779 8.76498C121.373 9.09144 121.857 9.51683 122.194 10.0016C122.589 10.5951 122.787 11.258 122.787 12.0296C122.787 12.9101 122.57 13.751 122.105 14.4336C121.669 15.1162 121.026 15.6207 120.255 15.9768C119.552 16.2835 118.781 16.4616 117.94 16.4616C117.455 16.4616 116.921 16.3923 116.416 16.2835L116.406 16.2736Z"
            fill="#FFEBDC" />
          <path
            d="M134.391 0.494629H135.429L130.018 8.02307V16.1748H129.137V8.02307L123.766 0.494629H124.804L129.602 7.23164L134.4 0.494629H134.391Z"
            fill="#FFEBDC" />
          <path
            d="M139.127 2.0577V16.1748H138.246V0.494629H139.127L148.703 14.6315V0.494629H149.583V16.1748H148.683L139.127 2.0577Z"
            fill="#FFEBDC" />
          <path
            d="M158.311 15.7889C157.321 15.3734 156.461 14.7798 155.689 14.028C154.937 13.2761 154.344 12.3956 153.928 11.4063C153.513 10.3973 153.285 9.33875 153.285 8.21097C153.285 7.08318 153.503 6.03454 153.928 5.01558C154.344 4.04609 154.937 3.16562 155.689 2.39398C156.461 1.64213 157.321 1.04856 158.311 0.63306C159.32 0.217561 160.408 0.0394897 161.506 0.0394897C162.693 0.0394897 163.861 0.237347 164.949 0.741882C165.978 1.22663 166.888 1.88945 167.659 2.75013L166.997 3.34369C165.612 1.78063 163.603 0.850703 161.516 0.850703C157.46 0.850703 154.185 4.15491 154.185 8.20108C154.185 12.2472 157.47 15.5514 161.516 15.5514C163.613 15.5514 165.612 14.6215 166.997 13.0585L167.659 13.652C166.888 14.5127 165.988 15.1953 164.949 15.6603C163.87 16.1648 162.703 16.3824 161.506 16.3824C160.408 16.3824 159.33 16.1846 158.311 15.7691V15.7889Z"
            fill="#FFEBDC" />
        </g>
        <defs>
          <clipPath id="clip0_82_2824">
            <rect width="167.021" height="16.4616" fill="white" transform="translate(0.636719)" />
          </clipPath>
        </defs>
      </svg>

    </a>
 
  </div>
</header>

{{!--

<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="logo">
    {{#link 'help_center'}}
    <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />
    {{#if settings.show_brand_name}}
    <span aria-hidden="true">{{help_center.name}}</span>
    {{/if}}
    {{/link}}
  </div>

  <div class="nav-wrapper-desktop">
    <nav class="user-nav" id="user-nav" aria-label="{{t 'user_navigation'}}">
      <ul class="user-nav-list">
        <li>{{link 'community'}}</li>
        <li>{{link 'new_request' class='submit-a-request'}}</li>
        {{#unless signed_in}}
        <li>
          {{#link "sign_in" class="sign-in"}}
          {{t 'sign_in'}}
          {{/link}}
        </li>
        {{/unless}}
      </ul>
    </nav>
    {{#if signed_in}}
    <div class="user-info dropdown">
      <button class="dropdown-toggle" aria-haspopup="true">
        {{user_avatar class="user-avatar"}}
        <span>
          {{user_name}}
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12"
            class="dropdown-chevron-icon" aria-hidden="true">
            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
          </svg>
        </span>
      </button>
      <div class="dropdown-menu" role="menu">
        {{#my_profile role="menuitem"}}{{t 'profile'}}{{/my_profile}}
        {{link "requests" role="menuitem"}}
        {{#link "contributions" role="menuitem"}}{{t "activities"}}{{/link}}
        {{contact_details role="menuitem"}}
        {{change_password role="menuitem"}}
        <div class="separator" role="separator"></div>
        {{link "sign_out" role="menuitem"}}
      </div>
    </div>
    {{/if}}
  </div>

  <div class="nav-wrapper-mobile">
    <button class="menu-button-mobile" aria-controls="user-nav-mobile" aria-expanded="false"
      aria-label="{{t 'toggle_navigation'}}">
      {{#if signed_in}}
      {{user_avatar class="user-avatar"}}
      {{/if}}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
        class="icon-menu">
        <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13" />
      </svg>
    </button>
    <nav class="menu-list-mobile" id="user-nav-mobile" aria-expanded="false">
      <ul class="menu-list-mobile-items">
        {{#if signed_in}}
        <li class="user-avatar-item item">
          {{#my_profile role="menuitem" class="my-profile"}}
          {{user_avatar class="menu-profile-avatar"}}
          <div class="menu-profile-name">
            <div>{{user_name}}</div>
            <div class="my-profile-tooltip">{{t 'profile'}}</div>
          </div>
          {{/my_profile}}
        </li>
        <li class="item">{{link "requests" role="menuitem"}}</li>
        <li class="item">{{#link "contributions" role="menuitem"}}{{t "activities"}}{{/link}}</li>
        <li class="item">{{contact_details role="menuitem"}}</li>
        <li class="item">{{change_password role="menuitem" class='change-password'}}</li>
        <li class="nav-divider"></li>
        {{else}}
        <li class="item">
          {{#link "sign_in" role="menuitem"}}
          {{t 'sign_in'}}
          {{/link}}
        </li>
        <li class="nav-divider"></li>
        {{/if}}
        <li class="item">{{link 'community' role="menuitem"}}</li>
        <li class="item">{{link 'new_request' role="menuitem" class='submit-a-request'}}</li>
        <li class="nav-divider"></li>
        {{#if signed_in}}
        <li class="item">
          {{link "sign_out" role="menuitem"}}
        </li>
        {{/if}}
      </ul>
    </nav>
  </div>

</header>

--}}